<div class="container">
    <form>
        <div class="form-group">
            <h1 class="text-center text-primary">Todo App</h1>
            <div class="input-group-prepend"> <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel> <span class="input-group-text" (click)="addTodo(todo.value)">Add</span> </div>
            <!--Now we have to fetch data stored in “todosArray.” We will use the *ngFor directive to loop through the array and extract the data.-->
            <div class="data">
                <!--Please open Inspect tool in Chrome browser and check if the array is getting updated on the console everytime you add a new element-->
                <ul class="list-instyled">
                    <li *ngFor="let todo of todoArray">{{todo}}</li>
                </ul>
            </div>
        </div>
    </form>
</div>

<router-outlet></router-outlet>